<html>
<head>
  <title></title>
</head>
<body>
<form action="/login" method="post">
  <h1 class="title">Привет пользователь!</h1>
  <form action="/login">
    <input type="text" name="username" placeholder="Введите логин"/>
    <input type="text" name="password" placeholder="Введите пароль"/>
    <button type="submit">Отправить</button>
    <a href="/mewuser">Новый пользователь</a>
  </form>
</form>
</body>
</html>